.App {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.left {
  width: 50%;
  max-width: 50%;
  height: 200vh;
  max-height: 100vh;
  overflow-y: scroll;
  background-color: antiquewhite;
  padding: 50px;
  text-align: justify;
}

.right {
  width: 50%;
  max-width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.right h1 {
  text-align: center;
}